Successfully changed user:
<p>
<b>Username:</b> <%= user.username %>
<br>
<b>Password:</b> <%= user.password %>
<p>
<b>Hometown:</b> <%= user.hometown %>
<p>
<b>Bio:</b> <%= user.bio %>
<p>
<b>Daily Calorie Goal:</b> <%= user.caloriegoal %>
<p>
<a href="/">Return Home</a>
<p>
<a href="/all">Show All</a>